.body{
    height:100%;
    width:100%;
    background-color: #dddf00;
    clip-path: polygon(64% 0, 100% 0, 100% 29%, 41% 100%, 0 100%, 0 68%);
    position: absolute;
    z-index: -1;
}
/* .body2{
    height:100%;
    width:100%;
    background: rgba( #AACC00);
    clip-path: polygon(100% 0, 100% 0, 100% 39%, 49% 100%, 36% 100%, 9% 100%);
    position: absolute;
    z-index: -2;
} */

.textChange{
    color:#55A630;
    text-align: center;
    justify-content: center;
    padding-top:20%
}

.navText{
    color:#007F5F
}
.darkGreen{
    background-color: #007F5F;
}
.btn{
    background-color: #80B918;
    z-index:0
}