.body{
    height:100%;
    width:100%;
    background-color: #dddf00;
    clip-path: polygon(64% 0, 100% 0, 100% 29%, 41% 100%, 0 100%, 0 68%);
    position: absolute;
    z-index: -1;
    /* background-size: cover;
    background-attachment: fixed; */
}
/* .body2{
    height:100%;
    width:100%;
    background: rgba( #AACC00);
    clip-path: polygon(100% 0, 100% 0, 100% 39%, 49% 100%, 36% 100%, 9% 100%);
    position: absolute;
    z-index: -2;
} */

.textChange{
    color:#2B9348;
    text-align: center;
    justify-content: center;
    padding-top:20%
}

.textChange2{
    color:#2B9348;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
}
.navText{
    color:#007F5F
}
.darkGreen{
    background-color: #007F5F;
}
.btn{
    background-color: #80B918;
    z-index:0
}

.center{
    display:flex;
    align-items: center;
    justify-content: center;
}

.pad{
    padding-left: 100px;
}

.buttonStyle{
    border-radius: 10px;
    background-color: #2B9348;
    color:#FFFF3F
}